:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --accent-color: #2196f3;
  --hero-logo-text: #ffffff;
  --studio-color-text: #000000;
  --secondary-back-color: #2f303a;
  --team-btn-back-color: #f5f4fa;
}
.page {
  background-color: #ffffff;
  color: var(--primary-color-text);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Header */

/* Header logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.first-part-logo {
  color: var(--accent-color);
}
.logo .second-part-logo {
  color: var(--studio-color-text);
}

.page-nav .menu-link.current {
  color: var(--accent-color);
}

/* Header navigation */
.page-nav .menu-link {
  color: var(--secondary-color-text);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.page-nav :hover,
.page-nav :focus {
  color: var(--accent-color);
}

.auth-nav-link {
  color: var(--primary-color-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.auth-nav :hover,
.auth-nav :focus {
  color: var(--accent-color);
}
/* /Header */

/* Hero */
.hero {
  background-color: var(--secondary-back-color);
  color: var(--hero-logo-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .btn {
  color: var(--hero-logo-text);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  
}
/* /Hero */

/* Benefits */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits-section .benefits-title {
  color: var(--secondary-color-text);
}
/* /Benefits */

/* Works */
.works-section .works-title {
  color: var(--secondary-color-text);
}
/* /Works */

/* Team */
.team-section {
  background-color: var(--team-back-color);
}
.team-section .worker {
  background-color: var(--team-btn-back-color);
}
.team-section .team-title {
  color: var(--secondary-color-text);
}
/* /Team */

/* Basement */
.basement {
  background-color: var(--secondary-back-color);
}
.logo-footer {
  color: var(--hero-logo-text);
}
.location {
  color: var(--hero-logo-text);
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
}
/* /Basement */

/* portfolio-section */

.portfolio-btn {
  color: var(--secondary-color-text);
  background: var(--team-btn-back-color);
  border: none;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
}

.section-icon {
  color: var(--secondary-color-text);
}
.section-icon > .icon-text {
  color: var(--primary-color-text);
}
